<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">
    <% var id = 101; %>
    <main>
        <div class="jumbotron">
            <h1>Warehouse Management System</h1>
            <p>Bomb Warehouse Stock List</p>

            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <% headers.forEach(function(header) { %>
                        <th scope="col"><%= header %></th>
                    <% }); %>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                    <% items.forEach(function(item, index) { %>
                        <tr>
                            <th scope="row"><%= item.id %></th>
                            <td><%= item.name %></td>
                            <td><%= item.price %></td>
                            <td>@<%= item.category %></td>
                            <td>
                                <a href="" id="<%= index+1 %>" data-toggle="modal" data-target="#exampleModal">
                                    Edit
                                </a> |
                                <a href="" id="<%= index+1 %>" data-toggle="modal" data-target="#exampleModal">
                                    Delete
                                </a>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit Item</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form>
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="form-group">
                                    <select class="form-control" aria-describedby="productIdHelp">
                                        <option selected disabled>Product ID</option>
                                        <% items.forEach(function(item) { %>
                                            <option value="<%= item.id %>"><%= item.id %></option>
                                        <% }); %>
                                    </select>
                                </div>
<!--                                <small id="productIdHelp" class="form-text text-muted">Select the product ID of the product that you want to edit.</small>-->
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Name" aria-describedby="nameHelp">
                                <small id="nameHelp" class="form-text text-muted">Enter the name of the product.</small>
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Price" aria-describedby="priceHelp">
                                <small id="priceHelp" class="form-text text-muted">Enter the price of the product.</small>
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Category" aria-describedby="catHelp">
                                <small id="catHelp" class="form-text text-muted">Enter the category of the product.</small>
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Name" aria-describedby="nameHelp">
                                <small id="nameHelp" class="form-text text-muted">Enter the name of the product.</small>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>

<!--            <ul>-->
<!--                <% items.forEach(function(item) { %>-->
<!--                    <li>-->
<!--                        <strong><%= item.id %>: </strong>-->
<!--                        <%= item.name %>,-->
<!--                        priced at <%= item.price %>-->
<!--                    </li>-->
<!--                <% }); %>-->
<!--            </ul>-->
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>


    <!--    Bootstrap Dependencies-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

</body>
</html>